
.iconEvent{
    transition: all 300ms;
    font-size: 40px;
    cursor: pointer;

}
.iconEvent:hover{
    transition: all 300ms;
    transform: scale(1.05);
    cursor: pointer;
    color:#0077ff;

}
.pages{
    width:100%;
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top:5%;
}
.h1Pages{
    font-size: 2em;
    margin: 0 3vw;
}
.iconEvent2{
    font-size: 2em  
}
.iconEvent2:hover{
    transition: all 300ms;
    transform: scale(1.09);
    cursor: pointer;

}
