.root {
  position: relative;
  width: 85%;
  height: 35vh;
  top: 0;
  margin-top: 3%;  
  margin-bottom: 7%;  
}
@media screen and (min-width: 550px) {
  .root {
    position: relative;
    width: 80%;
    height: 35vh;
    top: 0;
    margin-bottom: 3%;
  }
}
@media screen and (min-width: 768px) {
  .root {
    position: relative;
    width: 80%;
    height: 40vh;
    top: 0;
    margin-bottom: 3%;
  }
}
@media screen and (min-width: 992px) {
  .root {
    position: relative;
    width: 47%;
    height: 45vh;
    top: 0;
    margin-bottom: 3%;
  }
  .rootC {
    position: relative;
    width: 47%;
    height: 40vh;
    top: 0;
    margin-bottom: 7vh;
  }
}
.titleInstitute{
  transition: all 1000ms;
  text-transform: uppercase;
  color:white;
  font-size: 3em;
  line-height:0.7em;
  letter-spacing: 2px;
  width: max-content;
  margin-left: 3vw;
  text-decoration: none;
  margin-top:33vh;
}
.title2Institute{
  text-decoration: none;
  transition: all 1000ms;
  text-transform: uppercase;
  box-sizing: 100%;
  color:white;
  font-size: 3em;
  line-height:0.7em;
  letter-spacing: 2px;
  margin-left: 3vw;
  margin-top:33vh;
  width: max-content;
  cursor: pointer;
}
.info1Institute{
  text-decoration: none;
  transition: all 1000ms,color 1500ms;
  margin-left: 3vw;
  text-transform: uppercase;
  color: transparent;
  width: max-content;
  font-size: 1.6em;
  line-height: 0.3em;
  letter-spacing: 1px;
  margin-bottom: 0.7em;
}

.info2Institute{
  text-decoration: none;
  transition: all 1000ms,color 300ms;
  margin-left: 3vw;
  text-transform: uppercase;
  width: max-content;
  color:white;
  letter-spacing: 1px;
  font-size: 1.6em;
  line-height: 0.3em;
  margin-bottom: 0.7em;
}

.cities1Institute{
  text-decoration: none;
  transition: all 1000ms;
  margin-left: 2.7vw;
  color:transparent;
  width:90%;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 1.4em;
  line-height: 1.2em;
  letter-spacing: 1px;
  margin-top: 12px;
  margin-bottom: 15px;
}

.cities2Institute{
  text-decoration: none;
  transition: all 1000ms;
  margin-left: 2.7vw;
  color:white;
  width:90%;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 1.4em;
  line-height: 1.2em;
  letter-spacing: 1px;
  margin-top: 12px;
  margin-bottom: 15px;
}
.h1CitiesInstitute{
  transition: all 1000ms,color 1500ms;
  color:transparent;
  text-decoration: none;
  width:max-content;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 0px;
  padding: 0 0.3vw;
  font-size: 12.5px;
  line-height:4px;
}
.h1CitiesHoverInstitute{
  transition: all 1000ms,color 300ms;
  color:#fafafa;
  text-decoration: none;
  width:max-content;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 0px;
  padding: 0 0.3vw;
  font-size: 12.5px;
  line-height:4px;
}
.h1Cities2Institute{
  transition: all 1000ms,color 1500ms;
  color:transparent;
  text-decoration: none;
  width:max-content;
  text-transform: uppercase;
  letter-spacing: 0px;
  padding: 0 0 0 4px;
  font-size: 12.5px;
  line-height:4px;
}
.h1Cities2HoverInstitute{
  transition: all 1000ms,color 300ms;
  color:#fafafa;
  text-decoration: none;
  width:max-content;
  text-transform: uppercase;
  letter-spacing: 0px;
  padding: 0 0 0 4px;
  font-size: 12.5px;
  line-height:4px;
}
.sub1Institute{
  text-decoration: none;
  transition: all 1000ms,color 1500ms;
  margin-left: 3vw;
  text-align:start;
  text-transform: uppercase;
  color: transparent;
  width: 90%;
  margin-bottom: 25px;
  font-size: 1.3em;
  line-height: 1.3em;
  letter-spacing: -0.5px;
  font-weight:lighter;
}

.sub2Institute{
  text-decoration: none;
  transition: all 1000ms,color 300ms;
  margin-left: 3vw;
  text-transform: uppercase;
  text-align:start;
  width: 90%;
  color:white;
  letter-spacing: -0.5px;
  margin-bottom: 25px;
  font-size: 1.3em;
  line-height: 1.3em;
  font-weight:lighter;
}
.divInfoInstitute{
  text-decoration: none;
  transition: all 1000ms,color 1500ms;
  top:0;
  height:10%
}
.divInfo2Institute{
  text-decoration: none;
  transition: all 1000ms,color 300ms;
  height:100%;
}
@media screen and (max-width: 768px) {
  .titleInstitute{
    transition: all 1000ms;
    text-transform: uppercase;
    color:white;
    font-size: 2.5em;
    line-height:0.7em;
    width: max-content;
    margin-left: 10%;
    text-decoration: none;
    margin-top:33vh;
  }
}