.cardImg{
  width: 100%;
  height: 30vh;
}
.iconDate{
  margin-right: 0.5em;
}
.cardGroup{
  display: flex;
  justify-content: center;
  align-content: center;
  background: #000000;
}
.head{
  text-transform: uppercase;
  color: #fff;
  font-size: calc(25px + 3.2vw);
  line-height: calc(25px + 3.2vw);
  letter-spacing: 3px;
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.head2{
  text-transform: uppercase;
  color: #fff;
  font-size: calc(25px + 3.2vw);
  line-height: calc(25px + 3.2vw);
  letter-spacing: 3px;
  width: max-content;
  text-align: center;
}
.paragraph{
  font-family: "Avenir Next", sans-serif;
  color: #fafafa;
  font-size: calc(11px + 1vw);
  line-height: calc(10px + 1vw);
  width: 75%;
  font-weight: lighter;
  text-align: unset;
  margin-left: auto;
  margin-right: auto;
}
.margin{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.margin2{
  z-index: 0;
  margin-bottom:40px;
}
