.living {
  height: 55%;
  padding-top: 1.5%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}
.imgLiving {
  height: 100%;
}
.cardImg {
  width: 100%;
  height: 30vh;
}
.iconDate {
  margin-right: 0.5em;
}
.cardGroup {
  display: flex;
  justify-content: center;
  align-content: center;
  background: #000000;
}
.head {
  text-transform: uppercase;
  color: #fff;
  font-size: calc(25px + 3.2vw);
  line-height: calc(25px + 3.2vw);
  letter-spacing: 3px;
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.head2 {
  text-transform: uppercase;
  color: #fff;
  font-size: calc(25px + 3.2vw);
  line-height: calc(25px + 3.2vw);
  letter-spacing: 3px;
  width: max-content;
  text-align: center;
}
.paragraph {
  font-family: "Raleway", sans-serif;
  color: #fafafa;
  font-size: calc(11px + 1vw);
  line-height: calc(12px + 1vw);
  letter-spacing: 0.5px;
  width: 75%;
  font-weight: lighter;
  text-align: unset;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  height: 55%;
}
.paragraphLiving {
  font-family: "Raleway", sans-serif;
  color: #fafafa;
  font-size: calc(5px + 1vw);
  line-height: calc(6px + 1vw);
  width: 55%;
  padding-left: 5%;
  font-weight: lighter;
  text-align: start;
  margin: auto 0;
  height: max-content;
}
.margin {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;

  height: 15%;
}
.margin2 {
  z-index: 0;
  margin-bottom: 40px;
}



@media screen and (max-width: 600px) {
  .paragraph {
    font-family: "Raleway", sans-serif;
    color: #fafafa;
    font-size: calc(3px + 1.5vh);
    line-height: calc(6px + 1.5vh);
    letter-spacing: 0.75px;
    width: 75%;
    font-weight: lighter;
    text-align: unset;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    height: 55%;
  }
  .head {
    text-transform: uppercase;
    color: #fff;
    font-size: calc(6px + 4vh);
    line-height: calc(7px + 4vh);
    letter-spacing: 3px;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .paragraphLiving {
    padding: 0;
    font-family: "Raleway", sans-serif;
    color: #fafafa;
    font-size: calc(3px + 1.5vh);
    line-height: calc(6px + 1.5vh);
    letter-spacing: 0.75px;
    width: 75%;
    font-weight: lighter;
    text-align: unset;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
  }
  .living {
    height: 55%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
  }
  .imgLiving {
    display: none;
  }
}
