body,html {
  font-family: 'Oswald', sans-serif;

}

.head{
  text-transform: uppercase;
  color: #fff;
  font-size: calc(20px + 3.5vw);
  line-height: calc(20px + 3.5vw);
  letter-spacing: 3px;
  width: 70%;
  text-align: start;
  margin: 20px;
  margin-top:40px;
}
.paragraph{
  color: #fff;
  font-size: calc(10px + 1vw);
  line-height: calc(10px + 1.5vw);
  width: 70%;
  font-weight: lighter;
  text-align: start;
  margin: 20px;
  

}

.margin{
  margin: 20px;
  margin-bottom:40px;
}
