div{
  font-family: "Oswald", sans-serif;
}
.scroll {
  font-size: calc(4px + 1vw);
  transition: all 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.scroll2 {
  font-size: calc(1px + 1vw);
  transition: all 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropscroll {
  font-size: calc(4px + 1vw);
  transition: all 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.container1 {
  z-index: 99999999999999999;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: white;
  box-sizing: content-box;
  padding: 0.3vw 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  opacity: 0.9;
  box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.27);
  transition: all 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.container2 {
  z-index: 99999999999999999;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: white;
  box-sizing: content-box;
  padding: 0.3vw 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  opacity: 0.9;
  transition: all 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.containerLinks{
  top: 0;
  z-index: 1;
  background: white;
  box-sizing: content-box;
  padding: 0.3vw 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width:40%;
}
.logo1 {
  width: calc(50px + 3vw);
  height: calc(50px + 3vw);
  transition: all 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.logo2 {
  width: calc(30px + 6vw);
  height: calc(20px + 3vw);
  transition: all 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.div {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-items: flex-start;
  transition: all 300ms;
}

.logo1Scroll {
  width: calc(30px + 2vw);
  height: calc(30px + 2vw);
  transition: all 300ms;
  transition-timing-function: cubic-bezier(0.65, -0.25, 0.25, 1.95);
}
.logo2Scroll {
  width: calc(10px + 3.5vw);
  height: calc(5px + 2vw);
  transition: all 300ms;
  transition-timing-function: cubic-bezier(0.65, -0.25, 0.25, 1.95);
}
.divScroll {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-items: flex-start;
  transition: all 300ms;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  transition: all 300ms;
  display: block;
}
.dropscroll:hover .dropdown-content {
  transition: all 300ms;
  display: block;
}

.displayNone {
  margin-bottom: 5px;
  transition: all 300ms;
  transform:scale(1.05);
  display: none;
}
.menuNone {
  top: calc(50px + 3vw + 1.7vw);
  transition: all 500ms;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  right: 0;
  background-color: #f1f1f1;
  min-width: 70vw;
  height: 100vh;
  z-index: -1;
  right: -70vw;
}
.iconUpDown{
  transition: all 300ms;
  transform:scale(1);
}

@media screen and (max-width: 600px) {
  .containerLinks{
    display: none
  }
  .menu {
    z-index: 10;
    transition: all 500ms;
    display: block;
    font-size: calc(20px + 2.5vw);
    color: #686868;
    margin: auto 0;
    margin-right: 3vw;
  }
  .closee {
    margin: auto 0;
    margin-top: 2.2px;
    transition: all 500ms;
    z-index: 10;
    display: block;
    font-size: calc(15px + 2.5vw);
    color: #f1f1f1;
  }
  .menuScroll {
    font-size: calc(20px + 2vw);
    margin: auto 0;
  }
  .logo1 {
    width: calc(50px + 3vw);
    height: calc(50px + 3vw);
    transition: all 300ms;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: auto 0;
  }
  .logo2 {
    width: calc(30px + 6vw);
  height: calc(20px + 3vw);
  transition: all 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: auto 0;
  }
  .logo1Scroll {
    width: calc(50px + 3vw);
    height: calc(50px + 3vw);
    transition: all 300ms;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: auto 0;
  }
  .logo2Scroll {
    width: calc(30px + 6vw);
  height: calc(20px + 3vw);
  transition: all 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: auto 0;
  }
  .container1 {

    padding: 1vw 0px;
    opacity: 1;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 99999999999999999;
  }
  .container2 {
    padding: 1vw 0px;
    opacity: 1;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 99999999999999999;
  }
  .menu-content {
    visibility: visible;
    transition: all 300ms ease-in;
    top: calc(50px + 3vw + 1.8vw);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    box-shadow: 0px 100vh rgba(0, 0, 0, 0.6) inset;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }
  .menu-contentNone{
    visibility: hidden;
    transition: all 200ms ease-in;
    top: calc(50px + 3vw + 1.8vw);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    box-shadow: 0px 100vh rgba(0, 0, 0, 0.0) inset;
    min-width: 100vw;
    height: 100vh;
    z-index: 1;
  }
  .h1Close{
    margin:auto 0;
    letter-spacing: 2px;
    font-size: calc(9px + 1vw);
    line-height: calc(9px + 1vw);
    color: #f1f1f1;
  }
}
.menuClose {
  z-index: 10;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.menu-links {
  margin-top: 0;
  transition: all 100ms ease-in,right 300ms;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  right: 0;
  background-color: #f1f1f1;
  min-width: 70vw;
  height: 100vh;
  z-index: 1000000;
}
.logoMenu {
  text-transform: uppercase;
  display: block;
  background: #505050;
  color: #f1f1f1;
  text-align: end;
  padding-right:10px;
  padding-top:10px;
  padding-bottom:10px;
  font-size: calc(9px + 1vw);
  width: 100%;
  letter-spacing: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.active{
  background:#d8d8d8;
  color: rgb(0, 0, 0);
}
@media screen and (min-width: 601px) {
  .menu {
    display: none;
  }
  .menuScroll {
    display: none;
  }
  .menu-content {
    display: none;
  }
}
