.root {
  position: relative;
  width: 85%;
  height: 45vh;
  top: 0;
  margin-top: 3%;
}
@media screen and (min-width: 550px) {
  .root {
    position: relative;
    width: 75%;
    height: 45vh;
    top: 0;
    margin-top: 3%;
  }
}
@media screen and (min-width: 768px) {
  .root {
    position: relative;
    width: 47%;
    height: 45vh;
    top: 0;
    margin-top: 3%;
  }
}
@media screen and (min-width: 992px) {
  .root {
    position: relative;
    width: 47%;
    height: 45vh;
    top: 0;
    margin-bottom:3%;
  }
}
.iconUp2{
  color: #003b81;
  font-size: 1.25vw;
  margin-left: auto;
  padding-right: 4px;
}
.iconDown2{
  color: #003b81;
  font-size: 1.25vw;
  margin-left: auto;
  padding-right: 4px;
}

.title{
  transition: all 1000ms;
  text-transform: uppercase;
  color:#e4e3ea;
  font-size: calc(30px + 2vmin);
  line-height:calc(15px + 2vmin);
  letter-spacing: 4px;
  width: max-content;
  margin-left: 35px;
  text-decoration: none;
  margin-top:33vh;
}
.title2{
  text-decoration: none;
  transition: all 1000ms;
  text-transform: uppercase;
  box-sizing: 100%;
  color:white;
  font-size: calc(30px + 2vmin);
  line-height:calc(15px + 2vmin);
  letter-spacing: 4px;
  margin-left: 35px;
  margin-top:33vh;
  width: max-content;
  cursor: pointer;
}
.info1{
  text-decoration: none;
  transition: all 1000ms,color 1500ms;
  margin-left: 35px;
  text-transform: uppercase;
  color: transparent;
  width: max-content;
  font-size: calc(10px + 2vmin);
  line-height: 10px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.info2{
  text-decoration: none;
  transition: all 1000ms;
  margin-left: 35px;
  text-transform: uppercase;
  width: max-content;
  color:white;
  letter-spacing: 1px;
  margin-bottom: 0;
  font-size: calc(10px + 2vmin);
  line-height: 10px;
}
.info3{
  text-decoration: none;
  transition: all 1000ms,color 1500ms;
  margin-left: 35px;
  text-transform: uppercase;
  color: transparent;
  width: max-content;
  font-size: calc(10px + 2vmin);
  line-height: 10px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.info4{
  text-decoration: none;
  transition: all 1000ms;
  margin-left: 35px;
  text-transform: uppercase;
  width: max-content;
  color:white;
  letter-spacing: 1px;
  margin-bottom: 0;
  font-size: calc(10px + 2vmin);
  line-height: 10px;
  margin-bottom: 0;
}
.cities1{
  text-decoration: none;
  transition: all 1000ms;
  margin-left: 31px;
  color:transparent;
  width:90%;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  color: transparent;
  font-size: calc(10px + 2vmin);
  letter-spacing: 1px;
  margin-top: 12px;
  margin-bottom: 15px;
}

.cities2{
  text-decoration: none;
  transition: all 1000ms;
  margin-left: 31px;
  color:white;
  width:90%;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  line-height:0px;
  letter-spacing: 1px;
  margin-top: 12px;
  margin-bottom: 15px;
}
.h1Cities{
  text-decoration: none;
  width:max-content;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: calc(8px + 1vmin);
  line-height: calc(5px + 1vmin);
  padding: 0 4px;
}
.sub1{
  text-decoration: none;
  transition: all 1000ms,color 1500ms;
  margin-left: 35px;
  text-align:start;
  text-transform: uppercase;
  color: transparent;
  width: 95%;
  margin-bottom: 25px;
  font-size: calc(6px + 2vmin);
  line-height: calc(6px + 2vmin);;
  letter-spacing: 0px;
  font-weight:lighter;
}

.sub2{
  text-decoration: none;
  transition: all 1000ms;
  margin-left: 35px;
  text-transform: uppercase;
  text-align:start;
  width: 95%;
  color:white;
  letter-spacing: 0px;
  margin-bottom: 25px;
  font-size: calc(6px + 2vmin);
  line-height: calc(6px + 2vmin);;
  font-weight:lighter;
}
.divInfo{
  text-decoration: none;
  transition: all 1000ms;
  top:0;
  height:10%
}
.divInfo2{
  text-decoration: none;
  transition: all 1000ms;
  height:100%;
}
