.icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #003b81;
  font-size: calc(100px);
  width: max-content;
}
.areaName {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 0;
  letter-spacing: -1px;
  font-size: calc(1px + 1.75vw);
  line-height: calc(2px + 1.75vw);
  width: 100%;
  color: #454545;
  
}
@media screen and (max-width: 768px) {
  .icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #003b81;
    font-size: calc(10px + 7vh);
    width: max-content;
  }
  .areaName {
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-weight:bolder;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 0;
    letter-spacing: 0px;
    font-size: calc(3px + 2.75vw);
    line-height: calc(4px + 2.75vw);
    width: 100%;
    color: #454545;
  }
}