.icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #003b81;
  font-size: calc(14vh);
  width: max-content;
}
.areaName {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 0;
  letter-spacing: -1px;
  font-size: calc(1px + 1.75vw);
  line-height: calc(2px + 1.75vw);
  width: 100%;
  color: #454545;
  
}
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #003b81;
  color: white;
}
@media screen and (max-width: 768px) {
  .icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #003b81;
    font-size: calc(10px + 7vh);
    width: max-content;
  }
  .areaName {
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-weight:bolder;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 0;
    letter-spacing: 0px;
    font-size: calc(3px + 2.75vw);
    line-height: calc(4px + 2.75vw);
    width: 100%;
    color: #454545;
  }
}