.divIcons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 2.5vh;
  margin-left: -3.25vh;
}

.iconInstitute {
  color: #003b81;
  margin-right: 0.5vw;
  width: 1.5vw;
}

.iconInstitute2 {
  color: #003b81;
  margin-right: 5vw;
  font-size: 5vh;
  width: 5vh;
}

.innerHTMLInstitute {
  width: 100%;
}
.innerHTMLInstitute p {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #444;
  font-weight: lighter;
  font-size: calc(7px + 1vw);
  line-height: calc(8px + 1vw);
  width: 100%;
  text-align: start;
  padding: 0 0 1vh 0;
}

.innerHTMLInstitute h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #191919;
  font-size: calc(15px + 1vw);
  line-height: calc(15px + 1vw);
  margin: auto;
  width: 100%;
  margin-top: 4%;
  margin-bottom: 5%;
}
.innerHTMLInstitute h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #212121;
  font-size: calc(12px + 1vw);
  line-height: calc(12px + 1vw);
  margin: auto;
  width: 100%;
  margin-top: 4%;
  margin-bottom: 5%;
}
@media screen and (min-width: 769px) {
  .DivMobile {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .divIcons {
    margin-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .iconInstitute {
    color: #003b81;
    margin-right: 2vw;
    width: max-content;
  }
  .innerHTMLInstitute p {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    color: #444;
    font-weight: lighter;
    width: 100%;
    text-align: justify;
    padding: 0 0 1vh 0;
    font-size: calc(12px + 1.2vw);
    line-height: calc(17px + 1.2vw);
  }
  .innerHTMLInstitute h1 {
    font-family: "Poppins", sans-serif;
    text-align: justify;
    color: #101011;
    margin: auto;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 5%;
    font-size: calc(15px + 3vw);
    line-height: calc(15px + 3vw);
    margin-bottom: 10%;
  }
  .innerHTMLInstitute h2 {
    font-family: "Poppins", sans-serif;
    text-align: justify;
    color: #101011;
    margin: auto;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 5%;
    font-size: calc(15px + 2vw);
    line-height: calc(15px + 2vw);
    margin-bottom: 10%;
  }
}
